<div class="login-page">
  <div class="form">
    <form action="" class="login-form" (keyup.enter)="onSubmit()">
      <div class=" ">{{userEmail}}</div>
      <div class=" " *ngIf="isError">{{errorMessage}}</div>
      <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Old Password"/>
      <input type="password" [(ngModel)]="newPassword" [ngModelOptions]="{standalone: true}" placeholder="New Password"/>
      <input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" placeholder="Confirm Password"/>
      <button type="button" (click)="onSubmit()">Send</button>
      <!-- <p class="message">Not registered? <a href="#">Create an account</a></p> -->
    </form>
  </div>
</div>
